

<div class="container text-center mt-4">
    <img src="assets/familia.png" alt="Familia" class="img-fluid enlace-imagen">
</div>

<div class="nosotros">
    <div class="content">
        <h2>Nosotros</h2>
        <li>La Fundación “Los Fresnos”, es un Organismo no Gubernamental, constituido legalmente mediante acuerdo ministerial 058 de Julio de 2002, otorgado por el Ministerio de Bienestar Social, hoy: Ministerio de Inclusión Económica y Social que tiene como uno de sus programas a la “Casa de la Diabetes” el cual es un centro de atención donde intervenimos con pacientes y familiares de personas que padecen o corren el riesgo de padecer diabetes. Nuestro objetivo principal es el de mejorar la calidad de vida de esta población, mediante la educación en diabetes y reducir sus complicaciones, así como la tasa de mortalidad que esta provoca. Al ser la diabetes la enfermedad con mayor prevalencia en Ecuador consideramos que se debe concientizar a los profesionales de la salud, pacientes y a la sociedad sobre los riesgos y peligros que ésta presenta.</li>
    </div>
</div>

<div class="timeline">
    <div class="timeline-title-container">
        <h2 class="timeline-title">La Fundación a lo largo de los años</h2>
        
    </div>
    
    <div class="event left">
        <div class="date">1999</div>
        <div class="content">
            <img src="assets/lineadetiempo/1999.png" alt="1999" class="img-timeline">
        </div>
    </div>
    <div class="event right">
        <div class="date">2000</div>
        <div class="content">
            <img src="assets/lineadetiempo/2000.png" alt="2000" class="img-timeline">
        </div>
    </div>
    <div class="event left">
        
        <div class="content">
            <img src="assets/lineadetiempo/2001.png" alt="2001" class="img-timeline">
        </div>
    </div>
    <div class="event right">
       
        <div class="content">
            <img src="assets/lineadetiempo/2003.png" alt="2003" class="img-timeline">
        </div>
    </div>
    <div class="event left">
        
        <div class="content">
            <img src="assets/lineadetiempo/2004.png" alt="2004" class="img-timeline">
        </div>
    </div>
    <div class="event right">
        
        <div class="content">
            <img src="assets/lineadetiempo/2005.png" alt="2005" class="img-timeline">
        </div>
    </div>
    <div class="event left">
        
        <div class="content">
            <img src="assets/lineadetiempo/2006.png" alt="2006" class="img-timeline">
        </div>
    </div>
    <div class="event right">
        
        <div class="content">
            <img src="assets/lineadetiempo/2007.png" alt="2007" class="img-timeline">
        </div>
    </div>
    <div class="event left">
        <div class="date">2019</div>
        <div class="content">
            <img src="assets/lineadetiempo/2019.png" alt="2019" class="img-timeline">
        </div>
    </div>
    <div class="event right">
        <div class="date">2020</div>
        <div class="content">
            <img src="assets/lineadetiempo/2020.png" alt="2020" class="img-timeline">
        </div>
    </div>
    <div class="event left">
        <div class="date">2021</div>
        <div class="content">
            <img src="assets/lineadetiempo/2021.png" alt="2021" class="img-timeline">
        </div>
    </div>

    <div class="event right">
        <div class="date">2022</div>
        <div class="content">
            <img src="assets/lineadetiempo/2022.png" alt="2022" class="img-timeline">
        </div>
    </div>

    <div class="event left">
        <div class="date">2023</div>
        <div class="content">
            <img src="assets/lineadetiempo/2023.png" alt="2022" class="img-timeline">
        </div>
    </div>

    <div class="event right">
        
        <div class="content">
            <img src="assets/lineadetiempo/2024.png" alt="2022" class="img-timeline">
        </div>
    </div>

    <div class="event left">
        
        <div class="content">
            <img src="assets/lineadetiempo/2025.png" alt="2022" class="img-timeline">
        </div>
    </div>
</div>




<div class="seccion mision">
    <div class="contenido">
      <img src="assets/lineadetiempo/mision-vision/logomision.png" alt="Misión" class="icono-centrado">
      <div class="titulo">
        <span class="flecha azul">›</span> <strong>MISIÓN</strong>
      </div>
      <p class="justificado">
        Somos una organización social sin fines de lucro enfocada en la intervención médico-social con grupos de atención prioritaria; capacitación y apoyo en todos aquellos aspectos que mejoren la calidad de vida de las personas que están en riesgo o que padecen diabetes; mediante la implantación de la educación/prevención como ejes fundamentales en el control de la misma.
      </p>
    </div>
  </div>
  
  <div class="seccion vision">
    <div class="contenido">
      <img src="assets/lineadetiempo/mision-vision/vision.png" alt="Visión" class="icono-centrado">
      <div class="titulo">
        <span class="flecha naranja">›</span> <strong>VISIÓN</strong>
      </div>
      <p class="justificado">
        Ser la institución líder y de referencia en Ecuador, en prevención, diagnóstico, atención integral y protección a las personas con diabetes, comunidad y profesionales de la salud.
      </p>
    </div>
  </div>




  <!--CARRUSEL DE IMAGENES -->
  <div class="container mt-4 position-relative">
    <button class="custom-arrow custom-prev" onclick="$('.empresas-carousel').slick('slickPrev')">&lt;</button>
    <div class="slick-carousel empresas-carousel">
        <div><img src="assets/empresas/club.png" class="empresas-img" alt="Imagen 1"></div>
        <div><img src="assets/empresas/federacion.png" class="empresas-img" alt="Imagen 2"></div>
        <div><img src="assets/empresas/insulin.png" class="empresas-img" alt="Imagen 3"></div>
        <div><img src="assets/empresas/lapa.png" class="empresas-img" alt="Imagen 4"></div>
        <div><img src="assets/empresas/life.png" class="empresas-img" alt="Imagen 5"></div>
        <div><img src="assets/empresas/renarec.png" class="empresas-img" alt="Imagen 6"></div>
        <div><img src="assets/empresas/Ucatolica.png" class="empresas-img" alt="Imagen 7"></div>
        <div><img src="assets/empresas/UCuenca.png" class="empresas-img" alt="Imagen 8"></div>
        <div><img src="assets/empresas/redcap.png" class="empresas-img" alt="Imagen 9"></div>
    </div>
    <button class="custom-arrow custom-next" onclick="$('.empresas-carousel').slick('slickNext')">&gt;</button>
</div>



<!--ICONOS DE REDES SOCIALES-->

<!-- Sección de iconos de redes sociales -->
<div class="social-bar">
    <a href="https://www.tiktok.com/@casadeladiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.facebook.com/CasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/casadeladiabetes/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FCasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UC1YqPCb6B9XO6dHkYYXpIrg" target="_blank" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
  </div>
  