<section id="inicio" class="section" style="margin-top: 60px;"></section>
<header class="navbar">
    <div class="logo-container">
      <img src="assets/paginamagnifico/imagelogo.png" alt="Cities for better health Cuenca" class="logo">
    </div>


     <!--  BOTÓN HAMBURGUESA  -->
  

     <nav class="nav-links">
      <ul>
        <li>
          <a (click)="navigateToSection('inicio')" class="nav-link">Inicio</a>
        </li>
      </ul>
    </nav>
  </header>


  <div class="material-container">
    <!-- Tarjeta 1 -->
    <div class="card">
      <h3>Título 1</h3>
      <img src="assets/paginamagnifico/nuestro material/descargable.1/image1.png" alt="Imagen 1" class="card-image">
      <a href="assets/paginamagnifico/nuestro material/descargable.1/descargable1.jpeg" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
  
    <!-- Tarjeta 2 -->
    <div class="card">
      <h3>Título 2</h3>
      <img src="assets/paginamagnifico/nuestro material/descargable.2/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/paginamagnifico/nuestro material/descargable.2/descargable2.jpeg" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card">
      <h3>Título 3</h3>
      <img src="assets/paginamagnifico/nuestro material/descargable3/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/paginamagnifico/nuestro material/descargable3/paletasMagnifico.pdf" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
    <!-- Tarjeta 4 -->
    <div class="card">
      <h3>Título 4</h3>
      <img src="assets/paginamagnifico/nuestro material/descargable4/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/paginamagnifico/nuestro material/descargable4/bannerTranvia.pdf" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
    <!-- Tarjeta 5 -->
    <div class="card">
      <h3>Título 5</h3>
      <img src="assets/material-descargable/descargable.2/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/material-descargable/descargable.2/descargable2.jpeg" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
    <!-- Tarjeta 6 -->
    <div class="card">
      <h3>Título 6</h3>
      <img src="assets/material-descargable/descargable.2/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/material-descargable/descargable.2/descargable2.jpeg" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
    <!-- Tarjeta 7 -->
    <div class="card">
      <h3>Título 7</h3>
      <img src="assets/material-descargable/descargable.2/image.png" alt="Imagen 2" class="card-image">
      <a href="assets/material-descargable/descargable.2/descargable2.jpeg" download>
        <button class="download-button">Descargar</button>
      </a>
    </div>
  
    <!-- Puedes seguir agregando más tarjetas así -->
  </div>
  