

/* Contenedor principal */
.actividad-contenido {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
    font-family: "Quicksand", Sans-serif;
}

/* Estilo para el título */
h1 {
    font-size: 1em;
    margin-bottom: 10px; 
    text-align: left; 
    color: rgb(2, 13, 58); 
}

/* Contenedor para el título e imagen */
.titulo-imagen {
    display: flex;
    width: 100%; 
    max-width: 600px; 
}

/* Estilo para el título */
.titulo-imagen h1 {
    margin-right: 20px;
    margin-top: 100px; 
    color: rgb(3, 3, 173); 
}

/* Estilo para la imagen */
.img-actividad {
    width: 45%; 
    height: auto;
    border-radius: 5px;
}

/* Estilo para el párrafo */
p {
    margin: 20px 0; 
    text-align: justify; 
    max-width: 600px; 
    color: rgb(7, 7, 122); 
}

/* Estilo para la galería de imágenes */
.galeria {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    margin-top: 20px; 
    max-width: 600px;
}

/* Estilo para las imágenes de la galería */
.galeria img {
    width: 100%;
    height: auto; 
    border-radius: 5px; 
}



.empresas-carousel {
    position: relative;
    margin: 60px auto !important;
    overflow: hidden !important;
    width: 60%;
}

.empresas-img {
    max-height: 40px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background: none;
    color: #0047AB; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 40px; 
    font-weight: bold;
    border: none;
    transition: all 0.3s ease;
    padding: 0;
}

.custom-arrow:hover {
    color: #002D72;
}

.custom-prev {
    left: 180px; 
}

.custom-next {
    right: 180px; 
}





/* 🔹 Barra azul para las redes sociales */
.social-bar {
    background-color: #1d428c; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  /* 🔹 Estilos para los iconos */
  .social-icon {
    color: white;
    font-size: 24px;
    margin: 0 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
  }
  
  .social-icon:hover {
    transform: scale(1.2);
    color: #FFD700; 
  }