<div *ngIf="route.snapshot.params['id'] === '1'">
    <div class="actividad-contenido">
        <div class="titulo-imagen">
            <h1>Celebramos el carnaval junto a nuestros adultos mayores</h1>
            <img src="assets/Actividadescarrusel/actividad1/carnaval.png" alt="Jornada de salud y bienestar" class="img-actividad" />
        </div>
        
        <p>En nuestra más reciente reunión, compartimos una charla sobre hábitos de sueño y su impacto en la salud. Además, realizamos controles de glucosa, entregamos insulina y, como símbolo de bienestar, obsequiamos un durazno a cada miembro. Pequeños cambios hacen la diferencia. Sigamos construyendo juntos una vida más saludable.</p>
        
        <!-- Galería de Imágenes -->
        <div class="galeria">
            <img src="assets/Actividadescarrusel/actividad1/image1.png" alt="Imagen 1" />
            <img src="assets/Actividadescarrusel/actividad1/image2.png" alt="Imagen 2" />
            <img src="assets/Actividadescarrusel/actividad1/image3.png" alt="Imagen 3" />
            <img src="assets/Actividadescarrusel/actividad1/image4.png" alt="Imagen 4" />
            <img src="assets/Actividadescarrusel/actividad1/image5.png" alt="Imagen 5" />
            <img src="assets/Actividadescarrusel/actividad1/image6.png" alt="Imagen 6" />
        </div>
    </div>
</div>



<div *ngIf="route.snapshot.params['id'] === '2'">
    <div class="actividad-contenido">
        <div class="titulo-imagen">
            <h1>Promoviendo la salud en el Club de Personas con Diabetes Tipo 2</h1>
            <img src="assets/Actividadescarrusel/actividad2/salud.png" alt="Jornada de salud y bienestar" class="img-actividad" />
        </div>
        
        <p>En nuestra más reciente reunión, compartimos una charla sobre hábitos de sueño y su impacto en la salud. Además, realizamos controles de glucosa, entregamos insulina y, como símbolo de bienestar, obsequiamos un durazno a cada miembro. Pequeños cambios hacen la diferencia. Sigamos construyendo juntos una vida más saludable.</p>
        
        <!-- Galería de Imágenes -->
        <div class="galeria">
            <img src="assets/Actividadescarrusel/actividad2/image1.png" alt="Imagen 1" />
            <img src="assets/Actividadescarrusel/actividad2/image2.png" alt="Imagen 2" />
            <img src="assets/Actividadescarrusel/actividad2/image3.png" alt="Imagen 3" />
            <img src="assets/Actividadescarrusel/actividad2/image4.png" alt="Imagen 4" />
            <img src="assets/Actividadescarrusel/actividad2/image5.png" alt="Imagen 5" />
            <img src="assets/Actividadescarrusel/actividad2/image6.png" alt="Imagen 6" />
            <img src="assets/Actividadescarrusel/actividad2/image7.png" alt="Imagen 7" />
            <img src="assets/Actividadescarrusel/actividad2/image8.png" alt="Imagen 8" />
            <img src="assets/Actividadescarrusel/actividad2/image9.png" alt="Imagen 9" />
        </div>
    </div>
</div>

<div class="container mt-4 position-relative">
    <button class="custom-arrow custom-prev" onclick="$('.empresas-carousel').slick('slickPrev')">&lt;</button>
    <div class="slick-carousel empresas-carousel">
        <div><img src="assets/empresas/club.png" class="empresas-img" alt="Imagen 1"></div>
        <div><img src="assets/empresas/federacion.png" class="empresas-img" alt="Imagen 2"></div>
        <div><img src="assets/empresas/insulin.png" class="empresas-img" alt="Imagen 3"></div>
        <div><img src="assets/empresas/lapa.png" class="empresas-img" alt="Imagen 4"></div>
        <div><img src="assets/empresas/life.png" class="empresas-img" alt="Imagen 5"></div>
        <div><img src="assets/empresas/renarec.png" class="empresas-img" alt="Imagen 6"></div>
        <div><img src="assets/empresas/Ucatolica.png" class="empresas-img" alt="Imagen 7"></div>
        <div><img src="assets/empresas/UCuenca.png" class="empresas-img" alt="Imagen 8"></div>
        <div><img src="assets/empresas/redcap.png" class="empresas-img" alt="Imagen 9"></div>
    </div>
    <button class="custom-arrow custom-next" onclick="$('.empresas-carousel').slick('slickNext')">&gt;</button>
</div>

<!-- Sección de iconos de redes sociales -->
<div class="social-bar">
    <a href="https://www.tiktok.com/@casadeladiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
    <a href="https://www.facebook.com/CasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/casadeladiabetes/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://x.com/i/flow/login?redirect_after_login=%2FCasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
    <a href="https://www.youtube.com/channel/UC1YqPCb6B9XO6dHkYYXpIrg" target="_blank" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
  </div>





  