<div class="donation-image-container">
  <div class="container text-center mt-4">
    <img src="assets/donaciones/donaciones1.png" alt="Ir a Nueva Página" class="img-fluid enlace-imagen">
  </div>
</div>

<!-- Sección de Donaciones -->
<div class="donation-container">
  <!-- Título con flecha naranja -->
  <div class="donation-title">
    <div class="arrow-icon">&#10095;</div>
    <h2>Donaciones</h2>
  </div>
  
  <!-- Texto descriptivo justificado -->
  <div class="donation-description">
    Su aporte es muy valioso para las actividades que realiza la Fundación Los Fresnos casa de la Diabetes, su donación nos permitirá llevar nuestra labor de atención y prevención a toda la comunidad.
  </div>

  <!-- Contenedor para el carrusel -->
  <div class="slick-carousel image-carousel donaciones-carousel">
    <!-- Las imágenes del carrusel -->
    <div><img src="assets/donaciones/image1.png" class="carousel-img" alt="Imagen 1"></div>
    <div><img src="assets/donaciones/image2.png" class="carousel-img" alt="Imagen 2"></div>
    <div><img src="assets/donaciones/image3.png" class="carousel-img" alt="Imagen 3"></div>
    <div><img src="assets/donaciones/image4.png" class="carousel-img" alt="Imagen 4"></div>
    <div><img src="assets/donaciones/image5.png" class="carousel-img" alt="Imagen 5"></div>
  </div>
  
  <!-- Métodos de donación -->
  <div class="donation-methods">
    <div class="donation-left">
      <h3>Donación por<br>transferencia bancaria</h3>
      <div class="donation-details">
        <p>Cuenta de ahorros Produbanco Fundación Los Fresnos</p>
        <p>Nro. 12071018323</p>
        <p>Correo: info&#64;casadeladiabetes.org.ec</p>
        <p>RUC: 0190317420001</p>
        <p>Teléfono: 098 899 7813</p>
      </div>
    </div>

    <div class="donation-right">
      <h3>Donación mediante<br>Paypal</h3>
      <a href="https://www.paypal.com/donate?token=PUtu5T_opSd_m7m3dSD-eQWIZPkev_fFFAJY9_v9PDNToigzMJoiK_bIqMe0C2yxTf8a_uKkQd95P2CI&locale.x=US" 
         target="_blank" 
         class="donate-button">
        Donar
      </a>
    </div>
  </div>
</div>




<!--CARRUSEL DE IMAGENES -->
<div class="container mt-4 position-relative">
  <button class="custom-arrow custom-prev" onclick="$('.empresas-carousel').slick('slickPrev')">&lt;</button>
  <div class="slick-carousel empresas-carousel">
      <div><img src="assets/empresas/club.png" class="empresas-img" alt="Imagen 1"></div>
      <div><img src="assets/empresas/federacion.png" class="empresas-img" alt="Imagen 2"></div>
      <div><img src="assets/empresas/insulin.png" class="empresas-img" alt="Imagen 3"></div>
      <div><img src="assets/empresas/lapa.png" class="empresas-img" alt="Imagen 4"></div>
      <div><img src="assets/empresas/life.png" class="empresas-img" alt="Imagen 5"></div>
      <div><img src="assets/empresas/renarec.png" class="empresas-img" alt="Imagen 6"></div>
      <div><img src="assets/empresas/Ucatolica.png" class="empresas-img" alt="Imagen 7"></div>
      <div><img src="assets/empresas/UCuenca.png" class="empresas-img" alt="Imagen 8"></div>
      <div><img src="assets/empresas/redcap.png" class="empresas-img" alt="Imagen 9"></div>
  </div>
  <button class="custom-arrow custom-next" onclick="$('.empresas-carousel').slick('slickNext')">&gt;</button>
</div>



<!--ICONOS DE REDES SOCIALES-->

<!-- Sección de iconos de redes sociales -->
<div class="social-bar">
  <a href="https://www.tiktok.com/@casadeladiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
  <a href="https://www.facebook.com/CasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-facebook"></i></a>
  <a href="https://www.instagram.com/casadeladiabetes/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
  <a href="https://x.com/i/flow/login?redirect_after_login=%2FCasaDeDiabetes" target="_blank" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
  <a href="https://www.youtube.com/channel/UC1YqPCb6B9XO6dHkYYXpIrg" target="_blank" class="social-icon"><i class="fa-brands fa-youtube"></i></a>
</div>


